
.Rhistory
.Rproj.user/31E7329A/console06/INDEX001
.Rproj.user/31E7329A/cpp-definition-cache
*.pper
.Rproj.user/31E7329A/rmd-outputs
.Rproj.user/31E7329A/saved_source_markers
.Rproj.user/shared/notebooks/patch-chunk-names
.Rhistory
.Rhistory
.Rhistory
